/* Debug */

header {
    height: 600px;
    background-color: blue;
}

#logo-container {
    background-color: red;
}

#left-list {
    background-color: orange;
}

#right-list {
    background-color: purple;
}

.jumbotron {
    background-color: black;
}

main {
    height: 1350px;
    background-color: green;
}

#main-title {
    height: 150px;
    background-color: grey;
}

#info-container,
#test-placement-container {
    height: 600px;
}

#info-1 {
    background-color: red;
}

#info-2 {
    background-color: orange;
}

#info-3 {
    background-color: purple;
}

#levels-img {
    background-color: grey;
}

#findout-test {
    background-color: black;
}

footer {
    background-color: purple;
    height: 150px;
}

#footer-title {
    background-color: red;
}

#form {
    background-color: orange;
}


/* /Debug */


/* Common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.w-33 {
    width: calc(100% / 3);
}

.w-50 {
    width: 50%;
}

.h-100 {
    height: 100%;
}

.float-left {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* Header */

nav {
    height: 15%;
    background-color: green;
}

#logo-container {
    position: relative;
    width: 15%;
}

img[src*="logo"] {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 70%;
}

#left-list {
    width: 45%;
}

#right-list {
    width: 40%;
}

.jumbotron {
    height: 85%;
}


/* Main */