/* Debug */

.jumbotron {
    /*  background-color: black; */
}

main {
    height: 1350px;
    background-color: green;
}

#main-title {
    height: 150px;
    background-color: grey;
}

#info-container,
#test-placement-container {
    height: 600px;
}

#info-1 {
    background-color: red;
}

#info-2 {
    background-color: orange;
}

#info-3 {
    background-color: purple;
}

#levels-img {
    background-color: grey;
}

#findout-test {
    background-color: black;
}

footer {
    background-color: purple;
    height: 150px;
}

#footer-title {
    background-color: red;
}

#form {
    background-color: orange;
}


/* /Debug */


/* Common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.btn {
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 5px;
}

.btn-green {
    padding: 10px 30px;
    border: 1px solid #7DBB02;
    border-radius: 5px;
    background-color: #7DBB02;
}

.w-33 {
    width: calc(100% / 3);
}

.w-50 {
    width: 50%;
}

.h-100 {
    height: 100%;
}

.pos-rel {
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.float-left {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* Header */

header {
    height: 600px;
    background: url(../img/background-header.png) no-repeat;
    background-size: 56%;
    background-position: 100% 100%;
    background-color: #0C325A;
}

nav {
    height: 15%;
}

#logo-container {
    width: 15%;
}

img[src*="logo"] {
    width: 70%;
}

#left-list {
    width: 45%;
}

nav ul {
    width: 100%;
    padding-left: 10px;
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

#right-list {
    width: 40%;
    text-align: right;
}

.jumbotron {
    height: 85%;
}


/* Main */